<template>
    <div class="banner-content" :style="{'background-image': 'url(' + section.sectionImage + ')'}" :class="{ 'banner-content__half-width': variations(indList) }">
        <div class="banner-content__overlay"></div>
        <h2>{{ section.sectionContent.sectionTitle }}</h2>
        <div class="banner-content__blurb">
            <h4>{{ section.sectionContent.sectionBlurb }}</h4>
        </div>
        <div class="banner-content__text">
            {{ section.sectionContent.sectionText }}
        </div>
        <div class="banner-content__cta">
            <router-link :to="section.sectionContent.sectionCTARoute">{{ section.sectionContent.sectionCTAText}}</router-link>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['section', 'indList'],
        data() {
            return {
            }
        },
        methods: {
            variations(jm) {
                if (jm % 3 === 0) {
                    return false;
                } else {
                    return true;
                }
            }
        }
    }
</script>
<style lang="scss">
    .banner-content {
        padding: 40px;
        width: calc(100% - 80px);
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        text-shadow: 0 0 5px #000;
        position: relative;
        &__blurb, h2, &__blurb, &__text, &__cta {
            position: relative;
        }
        @media only screen and (max-width: 758px) {
            background-size: cover;
            padding: 20px;
            width: calc(100% - 40px);
        }
        &__overlay {
            background-position-x: center;
            background-color: #000;
            position: absolute;
            opacity: 0;
            transition: .2s;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            
        }
        &:hover &__overlay {
            opacity: .8;
            transition: .2s;
            width: 100%;
        }
        &__half-width {
            width: calc(50% - 80px);
            float: left;
            text-align: right;
            @media only screen and (max-width: 768px) {
                width: calc(100% - 40px);
            }
        }
        &__cta {
            a {
                text-decoration: none;
                display: block;
                color: #fff;
                border: 1px solid #fff;
                transition: .2s;
                padding: 5px;
                margin: 30px 0;
                cursor: pointer;
                max-width: 200px;
            }
            a:hover {
                    color: #000;
                    transition: .2s;
                    border-color: #000;
                    text-shadow: 0 0 5px #fff;
                    box-shadow: 0 0 5px #fff;
                }
        }
    }
</style>