<template>
    <div>
        <ul class="footer__menu">
            <router-link tag="li" class="footer__menu-list-element" :to="menu.route" v-for="(menu, index) in content.companyInformation" :key="index"><a>{{ menu.pageName }}</a></router-link>
        </ul>
    </div>
</template>
<script>
import content from '../../data/data.json';
export default {
    data() {
        return {
            content: content
        }
    },
}
</script>
<style lang="scss">
    .footer__menu {
        list-style-type: none;
        padding: 0;
        width: 100%;
        max-width: 992px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        &-list-element {
            padding: 5px;
            a {
                text-decoration: none;
                color: #c1c1c1;
                display: block;
                font-weight: 300;
                font-size: .9rem;
                cursor: pointer;
            }
        }
    }
</style>