<template>
    <div class="menu-overlay" :class="{ 'overlay-transparent': !$store.state.openMenu, 'overlay-hidden':  $store.state.overlay }">
        <ul class="main-menu" :class="{ menuHidden: !$store.state.openMenu }">
            <router-link tag="li" class="main-menu__list-item" :to="menu.route" v-for="(menu, index) in content.creativeContent" :key="index" @click.native="toggleMenu"><a>{{ menu.pageName }}</a></router-link>
        </ul>
    </div>
</template>
<script>
import content from '../../data/data.json';
export default {
    data() {
        return {
            content: content
        }
    },
    methods: {
        toggleMenu() {
            this.$store.state.openMenu = !this.$store.state.openMenu;
            setTimeout(() => {
                this.$store.state.overlay = !this.$store.state.overlay;
            }, 200);
        }
    }
}
</script>
<style lang="scss">
    .menu-overlay {
        background-color: rgba(0,0,0,.6);
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        opacity: 1;
        transition: .5s;
        z-index: 2;
    }
    .main-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 80px;
        left: 0%;
        transition: .5s;
        &__list-item {
            a {
                background-color: rgba(0, 0, 0, 0.5);
                padding: 20px;
                color: #fff;
                text-decoration: none;
                display: block;
                font-size: 3rem;
                margin: 10px 0;
                font-weight: 700;
                width: auto;
                @media only screen and (max-width: 768px) {
                    padding: 15px;
                    font-size: 1.2rem;
                }
            }
            &:hover {
                transform: scale(120%);
            }
        }
    }
    .menu-button-rotate {
        transform: rotate(90deg);
        transition: .2s;
        position: fixed;
    }
    .overlay-transparent {
        opacity: 0;
    }
    .overlay-hidden {
        display: none;
    }
    .menuHidden {
        left: -100%;
        transition: 2s;
    }
    button:focus {outline:0;}
</style>