<template>
    <div class="footer">
        <h1 class="footer__title">...more info</h1>
        <app-footer-menu></app-footer-menu>
    </div>
</template>
<script>
import appFooterMenu from './menus/FooterMenu.vue';
    export default {
        props: ['footerData'],
        components: {
            appFooterMenu
        }
    }
</script>
<style lang="scss">
    .footer {
        background-color: #000;
        padding: 20px;
        clear: both;
    }
</style>