<template>
    <div class="header">
        <h1 class="header__title" :class="{ blur: $store.state.openMenu }">TMW Unlimited</h1>
        <button @click="toggleMenu" class="header__menu-button" :class="{ 'menu-button-rotate': $store.state.openMenu }"><i class="fas fa-ellipsis-h"></i></button>
    </div>
</template>
<script>
    export default {
        methods: {
            toggleMenu() {
                this.$store.state.openMenu = !this.$store.state.openMenu;
                setTimeout(() => {
                    this.$store.state.overlay = !this.$store.state.overlay;
                }, 200);
            }
        }
    }
</script>
<style lang="scss">
    .header {
        position: absolute;
        top: 0;
        width: 100%;
        &__title {
            color: #fff;
            position: absolute;
            top: 0;
            left: 40px;
            z-index: 1;
            @media only screen and (max-width: 768px) {
                font-size: 1.7rem;
                left: 20px;
            }
        }
        &__menu-button {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 4;
            border: 2px solid #fff;
            padding: 0;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            background-color: transparent;
            cursor: pointer;
            font-size: 2rem;
            color: #fff;
            transform: rotate(0deg);
            transition: .2s;
            @media only screen and (max-width: 768px) {
                width: 40px;
                height: 40px;
                font-size: 1.6rem;
            }
            &:hover {
                transform: scale(100px);
            }
        }   
    }
</style>