<template>
    <div class="section">
        <div class="section-head-container">
            <div class="section-head-container__image" :style="{'background-image': 'url(' + content.backgroundImage + ')'}" v-if="content.backgroundVideo === ''"></div>
            <video autoplay muted loop id="myVideo" class="section-head-container__video" v-else>
                <source :src="content.backgroundVideo" type="video/mp4">
            </video>
            <div class="section-head-container__content">
                <h2>{{ content.pageName }}</h2>
                <h4>{{ content.pageBlurb }}</h4>
            </div>
        </div>
        <bannerComp v-for="(cont, index) in content.sections" :section="cont" :key="index" :indList="index"></bannerComp>
    </div>
</template>
<script>
    import bannerComp from './sections/Banner.vue';
    export default {
        props: ['content'],
        components: {
            bannerComp
        },
        data() {
            return {
            }
        }
    }
</script>
<style lang="scss">
    .section-head-container {
        min-height: 30vh;
        position: relative;
        width: 100%;
        &__image {
            width: 100%;
            height: 56vh;
            background-size: cover;
            background-position-x: center;
        }
        &__video {
            top: 0;
            max-width: 100%;
        }
        &__content {
            position: absolute;
            top: 100px;
            left: 50px;
            @media only screen and (max-width: 768px) {
                top: 50px;
                left: 20px;
            }
        }
    }
</style>