<template>
  <div id="app">
    <app-header></app-header>
    <router-view :class="{ blur: $store.state.openMenu }" class="main-wrapper" :content="findContent($route.path)"></router-view>
    <app-footer :class="{ blur: $store.state.openMenu }"></app-footer>
    <app-main-menu></app-main-menu>
  </div>
</template>

<script>
import appMainMenu from './components/menus/MainMenu.vue';
import appHeader from './components/Header.vue';
import appFooter from './components/Footer.vue';
import content from './data/data.json';
export default {
  name: 'app',
  components: {
    appMainMenu,
    appHeader,
    appFooter
  },
  data() {
    return {
      content: content
    }
  },
  methods: {
    findContent(data) {
      return this.content.creativeContent.find(obj => obj.route == data);
    }
  }
}
</script>

<style lang="scss">
  body {
    background-color: #ec733b;
    font-family: "Helvetica Neue";
    color: #fff;
    margin: 0;
    padding: 0;
    transition: filter .5s;
  }
  .blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transition: filter .5s;
  }
</style>
 